.cart {
    margin: 10px;
}

.cart-list {
    list-style: none;
    margin: 20px 0px;
    max-height: 400px;
    overflow: auto;
}

.cart-total-amount {
    display: flex;
    justify-content: space-between;
}
.cart-total-amount span {
    font-size: 1.8rem;
    font-weight: 600;
}
.cart-form-buttons {
    display: flex;
    margin-top: 20px;
    justify-content: end;
    gap: 20px;
}

.cart-close-btn {
    height: 50px;
    border: 2px solid #202020;
    background-color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0px 35px;
}
.cart-order-btn {
    height: 50px;
    background-color: #202020;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 35px;
}
.cart-order-btn:hover {
    background-color: rgb(71, 70, 70);
}

.cart-close-btn:hover {
    background-color: #d5d5d5;
}

.cart-order-btn:disabled {
    color: #202020;
    background-color: #868585;
}

.sended-action {
    display: flex;
    justify-content: end;
}

.cart-request-success {
    font-size: 1.5rem;
}