.cart-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 5px;
}

.cart-item h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.buttons button {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid #202020;
    border-radius: 5px;
    padding: 5px;
}

.buttons button:hover {
    background-color: #ccc;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    width: 50px;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}

.price-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

li {
    border-bottom: 1px solid #ccc;
}