.nav-item {
    position: relative;
    margin: 0px 25px;
    text-decoration: none;
    color: #fff;
}
.nav-item::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    content: "";
}
.nav-item:hover::after {
    background-color: #fff;
}
@media (max-width: 1102px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width: 760px) {
    .right .nav-item {
        display: flex;
    }
}

@media (max-width: 450px) {
    .right .nav-item {
        display: none;
    }
}