.right-sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: #202020;
    overflow-y: auto;
}
.right-sidebar .sidebar-item {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border-top: 2px solid #fff;
    transition: background-color 0.3s, font-size 0.3s;
}
.right-sidebar .sidebar-item:last-child {
    border-bottom: 2px solid #fff;
}
.right-sidebar .sidebar-item:first-child {
    border-top: none;
}
.right-sidebar .sidebar-item:hover {
    font-size: 2.1rem;
    background-color: rgb(211, 207, 207);
    color: #202020;
}
@media (max-width: 1060px) {
    .right-sidebar {
        display: flex;
        top: 75px;
        right: -250px;
        width: 250px;
        background-color: #202020;
        flex-direction: column;
        transition: right 0.4s ease-in-out;
    }
    .right-sidebar .showOnMobile {
        display: none;
    }
    .right-sidebar.active {
        right: 0;
    }
}

@media (max-width: 760px) {
    .right-sidebar .showOnMobile {
        display: none;
    }
}
@media (max-width: 450px) {
    .right-sidebar .showOnMobile {
        display: flex;
    }
}

@media (min-width: 400px) {
    .right-sidebar .sidebar-item:last-child {
        display: none;
    }
}
