@use "../../constants/variables" as *;
.nav {
    @include flex-align(center, space-between);
    width: 100%;
    height: 75px;
    padding: 20px 50px;
    background-color: $COLOR-BACKGROUND;
    color: $COLOR-WHITE;
    font-size: 1.3rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 3000;
}
